<!-- about.ejs Nick Kaplan 301261925 2023-10-04 -->
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="/images/me.jpg" alt="A picture of me" width="400" height="300">
    </div>
    <div class="col-sm-4"> 
      <p><strong>I am a student at Centennial College studying game development and programming. While I study this in school, I also practice game development extensively out of school.
        It is my greatest passion to create fun for others, to understand the consumer and create worthwhile experiences for individuals that are seeking a moving story,
        groundbreaking and immersive gameplay, or just something to pass the time. My resume is available for viewing to the right.</strong>
      </p>
    </div>
    <div class="col-sm-4"> 
      <a href="/images/Resume.pdf"><h3><strong>My Resume</strong></h3></a>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>