<!-- index.ejs Nick Kaplan 301261925 2023-10-04 -->
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-6"> 
      <p>Welcome to my Webpage, this website is a demonstration of using ExpressJs and Node.Js. It also contains a portfolio of my various works. For more information,
        visit the About Me page to the right, or use the navigation bar above.
      </p>
    </div>
    <div class="col-sm-6"> 
      <a href="/about"><h3><strong>About Page</strong></h3></a>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>