<!-- projects.ejs Nick Kaplan 301261925 2023-10-04 -->
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
        <h3>Game Development</h3>
        <br>
        <p>Throughout my post-secondary education, I have been teaching myself important game development and design principles that can only be found through personal practice.
        This means that I practice game development, design, programming, theory, and even music and sound effects outside of school almost daily to keep honing my skills.
        I use Unity and C# to aid me in my game development journey. I have not yet uploaded any games, however I am currently working on a large project to show off my
        artistic expertise as well as demonstrate my game development knowledge as a whole. The project is currently not ready to be shown in full detail, but here is a screenshot
        of how development is going.
        </p>
        <br>
        <img src="/images/RGBScreenshot.png" alt="a screenshot of my video game" width="500" height="300">

    </div>
    <div class="col-sm-4"> 
        <h3>Musical Endeavours</h3>
        <br>
        <p>
            I briefly mention that I also work on music and sound effects for video games. While they may not always be for video games specifically, I dabble in digital music production.
            I upload all of my music onto newgrounds.com, where I have accumulated a small but loyal fanbase as well as over 50,000 individual listens on all my songs combined,
            over the course of almost 9 years, with my songs ramping up in popularity as my career has gone on, and as the quality of my music has increased exponentially. Currently,
            my most popular songs are Dream Oasis, Soul Shatter, and Melancholic Palms. They are also my most recent songs.
        </p>
        <br>
        <img src="/images/NewGroundsScreenshot.png" alt="a screenshot of my newgrounds.com page" width="500" height="300">
        <br>
        <a href="https://desmae.newgrounds.com"><h3><strong>My Newgrounds page</strong></h3></a>

    </div>
    <div class="col-sm-4"> 
        <h3>Web Development</h3>
        <br>
        <p>
            I'm incredibly new when it comes to web development and design, video games are where I excel. Despite that, this project and my projects from previous years are 
            great demonstrations of my skill in the web development field. From colour theory to my knowledge of HTML and CSS, as well as using JavaScript and learning to use node.js. 
            This website highlights my intermediate knowledge of the field of web application development.
        </p>
        <br>
        <img src="/images/WebAppDevPic.png" alt="a screenshot of this website" width="500" height="300">
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>