<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-2">
        <h3>Game Programming</h3>
        <br>
      <p>I am an intermediate C# coder and I am very used to the Unity interface, as well as the C# and Unity integration. This allows me to efficiently create video games
        and code them from scratch.
      </p>
      
    </div>
    <div class="col-sm-2"> 
        <h3>Game Design</h3>
        <br>
      <p>Not only am I an intermediate coder who can see ideas come to light, but I am also capable of designing and creating gameplay experiences using my knowledge of different
        video game genres. If you require an original idea, a unique experience, there is a long list in my head that constantly expands with new gameplay combinations that can
        impress a player base.
      </p>
    </div>
    <div class="col-sm-2"> 
        <h3>Music Composition</h3>
        <br>
      <p>With my vast experience in the musical field, especially with video games, I am capable of putting together a soundtrack that further pushes a scene, a look, a feeling,
        or a tone. Without music, any media, whether it be a movie, a show, or a video game, can seem empty and lacking. With my knowledge of music theory and the psychological
        effects of music to push forward a better user experience, I am capable of creating even more special moments for users and players.
      </p>
    </div>
    <div class="col-sm-2"> 
        <h3>Software Engineering</h3>
        <br>
      <p>While I focus on game development, I am also learning software engineering practices that can aid me in other programming jobs such as IT and general computer studies.
      </p>
    </div>
    <div class="col-sm-2"> 
        <h3>Web Development</h3>
        <br>
      <p>I am capable of creating web pages for my own video game projects thanks to the experience I've obtained from web development projects throughout my time at Centennial College.
      </p>
    </div>
    <div class="col-sm-2"> 
        <h3>C# Programming</h3>
        <br>
      <p>As mentioned above I have experience in C# programming, which I have learned through my journey as a student, but also practiced and honed outside of school.
      </p>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>