/* menu.js Nick Kaplan 301261925 2023-10-04*/

.bg-3 { 
  background-color: #060029;
  color: #5744ff;
}
body {
  background-color: #070070;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #321abc !important;
}
.active>a {
color: #251abc !important;;
}
